<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>text.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>30873D993A1402A052682D131EDC5DEF8F47C6FC</string>
				<key>dateExpires</key>
				<string>2022/3/26</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>J69V6VXM9A.com.littlebookkeep.beijing.com</string>
				<key>com.apple.developer.team-identifier</key>
				<string>J69V6VXM9A</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>J69V6VXM9A.com.littlebookkeep.beijing.com</string>
				</array>
			</dict>
			<key>name</key>
			<string>text.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c0133c5f-847e-4135-b726-2ce9f6e63f1a</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.littlebookkeep.beijing.com</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>J69V6VXM9A</string>
				<key>name</key>
				<string>miushufei miushufei</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
